.films-title {
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.films {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}