.card-comment {
    width: 600px;
    background-color: DarkGrey;
    border-radius: 4px 4px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.card-comment .name {
    padding-top: 5px;
    color: #834bff;
    font-size: 16px;
}

.card-comment .message {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 16px;
}

.card-comment .data {
    font-size: 12px;
    padding-top: 10px;
    color: grey;
}

.card-comment .column {
    display: flex;
    width: 400px;
    flex-direction: column;
}

.card-comment .avatar {
    margin: 10px;
    padding-top: 5px;
}

.textField {
    margin: 10px;
    width: 450px;
}

.send-button {
    margin: 10px auto;
    width: 120px;
}