.nav {
    margin-top: 20px;
}

.nav .myNav {
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    height: 50px;
}

.nav .login {
    max-width: 400px;
    margin: 20px auto;
}