<div class="top" *ngIf="film">
  <div class="card">
    <div class="title">{{film.name}}</div>
    <div class="description">
      <img src={{film.poster}} class="media" />
      <div class="textPadding">
        <div class="text_pink">
          Year:
          {{film.year}}
        </div>
        <hr />
        <div class="text_pink">Country: {{film.country}}</div>
        <hr />
        <div class="text_pink">Producer: {{film.producer}}</div>
        <hr />
        <div class="text">{{film.description}}</div>
        <hr />
        <div class="stars">
          <sui-rating class="star" [ngModel]="film.averageRating/2" [maximum]="5" (valueChange)="onValueChange($event)"></sui-rating>
        </div>
        <div class="text_pink">Rating: {{film.averageRating}}</div>
      </div>
    </div>
    <br />
  </div>
  <div class="card">
    <vg-player>
      <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
          <source src={{film.video}} type="video/mp4">
      </video>
  </vg-player>
  </div>
  <div class="card">
    <img *ngFor="let photo of photoRes" src={{photo.src}} class="photo" />
  </div>
  <div class="card">
    <app-comments></app-comments>
  </div>
</div>
<div class="top">
    <a *ngIf="!isLogin" class="ui inverted pink button login-button" routerLink="/login" >Login</a>
    <button *ngIf="isLogin" class="ui inverted pink button login-button" (click)="logout()">Logout</button>
    <button class="ui inverted blue button back-button" (click)="goBack()">Go back</button>
</div>
