<div>
  <div class="top" *ngFor="let comment of comments">
    <div class="card-comment">
      <i class="big user circle icon pink avatar"></i>
      <div class="column">
        <div class="userName">{{comment.email}}</div>
        <div class="commentMessage">{{comment.commentMessage}}</div>
      </div>
      <div class="commentData">{{comment.data}}</div>
    </div>
  </div>
</div>
<form *ngIf="isLogin" [formGroup]="commentForm">
  <div class="top">
    <div class="card">
      <div class="ui input input-field textField">
        <input placeholder="Message" name="message" id="commentMessage" type="text" formControlName="message" />
      </div>
      <button class="ui inverted pink button send-button" (click)="sendComment()">
        Send
      </button>
    </div>
  </div>
</form>